#header {
	background: #FFDC02;
	color: #000000;
}
#header .button {
	border-left: #ffffff;
	border-right: #ffffff;
	color: #000000;
}
#header li.open .button {
	color: #FFDC02;
}
#header ul.dropdown-menu li a {
	color: #FFDC02;
}
#header ul.dropdown-menu li.disabled a {
	color: #ffffff;
}
#btn-deploy.disabled {
	color: #ffffff !important;
}
#node-dialog-login {
	background-color: #FFDC02;
}